<a href="https://colab.research.google.com/github/danielsabino-br/curso-de-Python/blob/main/aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3 as sq

conexao = sq.connect("idade.db") #data base

In [ ]:
cursor = conexao.cursor()

In [ ]:
# Utilizando o Cursor
#comando SQL
comando_1 = "Create table idades(nome text, anos text)"
comando_2 = "insert into idades(nome, anos) values(?,?)"

In [ ]:
cursor.execute(comando_1)

In [ ]:
cursor.execute(comando_2, ("Pedro", "30"))

In [ ]:
conexao.commit()

In [ ]:
cursor.close()
conexao.close()

In [9]:
conexao = sq.connect("idade.db")
cursor = conexao.cursor()
cursor.execute('''
      create table idades(nome text, anos text)
''')
cursor.execute('''
      insert into idades(nome, anos) values(?,?)
''', ("Pedro", "30"))
conexao.commit()
cursor.close()
conexao.close()

consulta banco de Dados

In [19]:
conexao = sq.connect("idade.db")
cursor = conexao.cursor()
cursor.execute("select * from idades")
resultado = cursor.fetchone()
print(resultado)

('Pedro', '30')

In [20]:
print('Nome: %s \nIdade: %s '%(resultado))

Nome: Pedro
Idade: 30

inserindo multiplos registros

In [21]:
dados = [('Ana', '19'),
         ('Vitor','38'),
         ('Ricardo','33')]

In [ ]:
dados

In [23]:
cursor.executemany("insert into idades(nome, anos) values(?,?)", dados)
conexao.commit()
cursor.close()
conexao.close()

Consultando os dados

In [ ]:
conexao = sq.connect("idade.db")
cursor = conexao.cursor()
cursor.execute("select * from idades")
resultado = cursor.fetchall()
print(resultado)

consulta multiplas em uma tabela

In [ ]:
results = cursor.execute("select * from idades")
for linha in results:
    print('Nome: %s - Idade: %s '%(linha))

organizar em funções