<a href="https://colab.research.google.com/github/danielsabino-br/curso-de-Python/blob/main/aula_01_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import sqlite3 as sq

conexao = sq.connect("idade.db") #data base

In [57]:
cursor = conexao.cursor()

In [58]:
# Utilizando o Cursor
#comando SQL
comando_1 = "Create table idades(nome text, anos text)"
comando_2 = "insert into idades(nome, anos) values(?,?)"

In [59]:
cursor.execute(comando_1)

In [60]:
cursor.execute(comando_2, ("Pedro", "30"))

In [61]:
conexao.commit()

In [62]:
cursor.close()
conexao.close()

In [63]:
conexao = sq.connect("idade.db")
cursor = conexao.cursor()
cursor.execute('''
      create table idades(nome text, anos text)
''')
cursor.execute('''
      insert into idades(nome, anos) values(?,?)
''', ("Pedro", "30"))
conexao.commit()
cursor.close()
conexao.close()

consulta banco de Dados

In [67]:
conexao = sq.connect("idade.db")
cursor = conexao.cursor()
cursor.execute("select * from idades")
resultado = cursor.fetchone()
print(resultado)
cursor.close()
conexao.close()

('Pedro', '30')

In [69]:
print('Nome: %s \nIdade: %s '%(resultado))

Nome: Pedro
Idade: 30